@using SingeModel.Model
@model Game
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>Name @Model.Name</p>
<p>Platform @Model.Platform</p>
<p>Engine @Model.Engine</p>
</body>
</html>
